html, body
{
	margin: 0px;
	width: 100%;
	min-width: 800px;
	background-color: #D9DEE1;
}

/***    Header    ***/
header
{
	background-color: #D9DEE1;
	height: 80px;
	padding-top: 30px;
	text-align: center;
}

header > img
{
	height: 40px;
	margin: 1px;
}

a
{
	color: black;
	text-decoration: none;
}

.bouton
{
	display: inline-block;
	width: 150px;
	height: 20px;
	text-align: center;
	background-color : #D9DEE1;
	border-radius:20px;
	border:1px solid #D9DEE1;
	padding: 5px;
	margin-bottom: 10px;
}

.deroulant
{
	width:150px;
	float:right;
	margin: 5px;
	margin-right:20px;
	margin-left: 40px;
	text-align: center;
	padding: 0px;
}

li
{
	list-style-type: none;
}

ul
{
	position: relative;
	left: -21px;
}

.deroulant li
{
	display:none;
}

.deroulant:hover li
{
	display:inline-block;
	position: relative;
	top : -5px;
	width: 120px;
	background-color : #D9DEE1;
	border-radius:2px;
	border:1px solid #D9DEE1;
	margin: 2px;
}

#inscription
{
	float:left;
}

/***    Contenu    ***/
.content
{
	background-color: #D9DEE1;
	padding: 30px;
	text-align: center;
}

.content > h2
{
	text-align: center;
}

.content > h3
{
	margin: 5px;
	margin-left: 20px;
}

.content > .exmission
{
	display: inline-block;
	text-align: center;
	width: 30%;
	margin: 1%;
}

/***  Footer ***/

footer
{
	padding: 10px 100px 10px 100px;
	background-color : #D9DEE1;
}


/*** Index ****/

#header
{
	text-align : center;
	background-image: url(img/indexback.jpg);
	background-size: 100%;
	padding: 30px 10px 60px 10px;
}

.choix
{
	display: inline-block;
	width: 25%;
	max-width: 500px;
	min-width: 250px;
	height: 130px;
	background-color: rgba(217, 222, 225, 0.8);
	margin: 100px 50px 50px 50px;
	padding: 10px;
	border-radius: 10px;
}
.error
{
	color: #FF0000;
}

/*** Espace etudiant ***/
#studenthead
{
	
}
