@font-face
{
	font-family: "din";
	src: url('includes/DIN.ttf');
}
@font-face
{
	font-family: "din light";
	src: url('includes/DINLight.ttf');
}
@font-face
{
	font-family: "din bold";
	src: url('includes/DINBold.ttf');
}
@font-face
{
	font-family: "din medium";
	src: url('includes/DINMedium.ttf');
}
html, body
{
	margin: 0px;
	width: 100%;
	min-width: 810px;
	background-color: rgb(251, 251, 253);
	padding-top: 65px;
	font-family: "din light", Helvetica;
}

header
{
	z-index: 1000;
	height: 80px;
	width:100%;
	background-image: url(img/head.png);
	background-size: 100%;
	background-position: top;
	text-align: center;
	font-family: "din light", Helvetica;
	font-size: 16pt;
	padding-top : 30px;
	margin: 0px;
	position: fixed;
	top: 0px;
}
.bouton
{
	position: fixed;
	top: 50px;
	display: inline-block;
	font-family: "din", Helvetica;
	font-size: 10pt;
	color: rgba(65, 0, 26, 1);
	letter-spacing: 0.5px;
}
/** Index **/
#header
{
	height: 387px;
	width: 100%;
	position: relative;
	top: -22px;
	background-image: url(img/head.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	font-family: "din light", Helvetica;
	font-size: 16pt;
	padding-top: 0px;
}
#inscription
{
	left: 14%;
	height: 50px;
}
#codeco
{
	right: 14%;
}
.deroulant
{
	display: none;
	position: absolute;
	top: 25px;
	width: 100px;
	font-family: "din light", Helvetica;
	font-size: 10pt;
	text-align: left;
}
#inscription:hover .deroulant
{
	display:block;
}
.deroulant a
{
	text-decoration: none;
	color: rgba(65, 0, 26, 0.7);
}
#header p
{
	padding-top: 20px;
	color: rgba(124, 0, 66, 1);
	font-size: 11pt;
}
#header .choix
{
	display: inline-block;
	margin: 5px 11px 0px 11px;
	width: 287px;
	height: 40px;
	background-color: rgba(239, 236, 235, 0.75);
	color: rgba(65, 0, 26, 1);
	position: relative;
	padding: 15px;
	padding-top: 34px;
	top: 260px;
	left: -3px;
	font-family: "din medium", Helvetica;
	font-size: 14pt;
	border: 2px solid white;
}
.choix > img
{
	max-width: 35px;
	max-height: 40px;
	position: absolute;
	top: 24px;
	left: 58px;
}
.choix p
{
	display: inline;
	position: relative;
	left: 18px;
	letter-spacing: 0.5px;
}
#subheader
{
	height: 180px;
	background-color: #f4f1eb;
	position:relative;
	top: -22px;
	text-align: center;
	font-family: "din light", Helvetica;
	font-size: 16pt;
	color: rgba(124, 0, 66, 1);
	margin-bottom: 70px;
	letter-spacing: 1px;
}
#subheader p
{
	margin-top: 10px;
	display: inline;
	font-size: 15pt;
	letter-spacing: 1px;
}
.schoix
{
	display: inline-block;
	margin: 0px 10px 5px 10px;
	width: 290px;
	height: 22px;
	background-color: white;
	color: rgba(65, 0, 26, 1);
	padding: 15px;
	padding-top: 30px;
	font-size: 10pt;
	letter-spacing: 0.5px;
}

#subtitle
{
	text-align: center;
	font-size: 21pt;
	color: rgba(124, 0, 66, 1);
	margin-bottom: 50px;
	letter-spacing: 1.5px;
}
/*** Content ***/
.content
{
	width: 100% - 40px;;
	padding: 20px;
	text-align: center;
	background-color: #f4f1eb;
	line-height: 140%;
	padding-bottom: 40px;
}
.content h1
{
	height: 70px;
	padding-top: 15px;
	border-bottom: 3px solid white;
	font-family: "din", Helvetica;
	font-size: 16pt;
	color: rgba(65, 0, 26, 1);
	letter-spacing: 1px;
}
.content p
{
	color: rgba(65, 0, 26, 1);
	font-size: 10pt;
}
#xmiss
{
	margin-left: 1%;
	margin-top: 35px;
}
.exmission
{
	display: inline-block;
	width: 27%;
	margin: 0px 20px 0px 20px;
	color: rgba(65, 0, 26, 1);
}
.exmission h2
{
	font-family: "din", Helvetica;
	width: 90%;
	font-size: 18px;
	color: rgba(124, 0, 66, 1);
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 3px solid white;
	letter-spacing: 0.5px;
}
.exmission h2 > img
{
	margin: 30px;
	margin-top: 20px;
	height: 45px;
}
.exmission ul
{
	padding: 0px;
}
.exmission li
{
	position: relative;
	left: -15px;
	list-style-type: none;
	letter-spacing: 0.5px;
}

.trait
{
	position: relative;
	left: -15px;
	margin: 20px;
	width: 25px;
}

/** Footer **/
footer
{
	text-align: center;
	font-size: 12px;
	height: 40px;
	padding-top: 35px;
	color: white;
	background-color: rgb(124, 0, 66);
}
footer p
{
	display: inline;
	padding: 0px 6% 0px 6%;
	letter-spacing: 1px;
}

/** PopUp **/
#lean_overlay {
    position: fixed;
    z-index:100;
    left: 0px;
    height:100%;
    width:100%;
    background: #f4f1eb;
    display: none;
}
.popupContainer
{
	display: none;
	position:absolute;
	width:500px;
	max-height: 65%;
	left:45%;
	background: #FFF;
	font-family: "din light";
	font-size: 18px;
	color: rgb(124, 0, 66);
	padding-bottom: 10px;
	overflow-y:auto
}
.popupHeader
{
	position:relative;
	background: rgb(124, 0, 66);
	padding: 30px 10px 30px 10px;
	height: 10px;
	width: 480px;
	color: #f4f1eb;
	font-family: "din medium";
	font-size:16px;
	text-transform: uppercase;
}
.popupBody
{
	padding: 20px;
}
.modal_close
{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px 15px 10px 15px;
	background-color: rgba(255, 255, 255, 0.2);
}
/** bouton popup **/
.btn_red
{
	background: rgba(124, 0, 66, 0.8);
	padding: 10px 20px;
	margin-left: 12%;
	width: 60%;
}
.btn_red:hover
{
	background: rgba(124, 0, 66, 1);
}
a.btn_red
{
	color: #f4f1eb;
	text-decoration: none;
}
.btn
{
	display: inline-block;
	padding:10px 20px;
	background: #F4F4F2;
	width: 50%;
	border: 1px solid rgb(124, 0, 66);
	margin: 10px 0px 10px 0px;
}
a.btn
{
	color: rgb(124, 0, 66);
	text-align: center;
	text-decoration: none;
}
.btn:hover
{
	background-color: rgba(124, 0, 66, 0.1);
}
/** User Login Form **/
.user_login
{
	display: inline-block;
	float: left;
	width: 45%;
	padding-bottom: 20px;
}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"]
{
	display: block;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	border:1px solid #DDD;
	background-color: #f4f1eb;
	color: black;
}
.forgot_password
{
	text-decoration: none;
	color:rgb(124, 0, 66);
	font-family: "din", Helvetica;
	font-size: 14px;
}
/** Register ***/
.user_reg
{
	display: inline-block;
	float: right;
	width: 50%;
	height: 230px;
	padding-bottom: 20px;
	border-left: 1px dashed rgba(124, 0, 66, 0.9);
}
.user_reg img
{
	position: relative;
	top: 10px;
	margin: 3px;
	margin-top: 0px;
}
.action_btns a
{
	display: block;
}
/* User Register Form */
.user_register
{
	display: none;
	width: 100%;
}
.user_register label
{
	display: block;
	margin-bottom:5px;
}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"]
{
	display: block;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	border:1px solid #DDD;
	background-color: #f4f1eb;
	color: black;
}
.user_register input[type="checkbox"]
{
	float:left;
	margin-left:40px;
	margin-bottom: 10px;
}

/** CRegister ***/
.company_reg
{
	display: inline-block;
	float: right;
	width: 50%;
	height: 230px;
	padding-bottom: 20px;
	border-left: 1px dashed rgba(124, 0, 66, 0.9);
}
.company_reg img
{
	position: relative;
	top: 10px;
	margin: 3px;
	margin-top: 0px;
}
.action_btns a
{
	display: block;
}
/* Company Register Form */
.company_register
{
	display: none;
	width: 100%;
}
.company_register label
{
	display: block;
	margin-bottom:5px;
}
.company_register input[type="text"], .company_register input[type="email"], .company_register input[type="password"]
{
	display: block;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	border:1px solid #DDD;
	background-color: #f4f1eb;
	color: black;
}
.company_register input[type="checkbox"]
{
	float:left;
	margin-left:40px;
	margin-bottom: 10px;
}

.one_half
{
	display: inline-block;
	width: 40%;
	position: relative;
	top: 15px;
	margin-bottom: 0px;
}
.one_half > .btn
{
	width: 80%;
}
.one_half >.btn_red
{
	display: inline-block;
	width: 90%;
	border: none;
	color: #f4f1eb;
	padding: 10px 20px;
	font-family: "din light", Helvetica;
	font-size: 18px;
}
#ok
{
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 120%;
	background-color: rgba(244, 241, 235, 0.8);
}
#co_ok
{
	z-index: 110;
	position: absolute;
	top: 100px;
	left: 25%;
	width: 50%;
	background-color: rgba(124, 0, 66, 0.9);
	color: rgb(244, 241, 235);
	text-align: center;
	font-family: "din", Helvetica;
	font-size: 16px;
	padding: 20px;
}
#nok
{
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 120%;
	background-color: rgba(244, 241, 235, 0.8);
}
#co_nok
{
	z-index: 110;
	position: absolute;
	top: 100px;
	left: 25%;
	width: 50%;
	background-color: rgba(124, 0, 66, 0.9);
	color: rgb(244, 241, 235);
	text-align: center;
	font-family: "din", Helvetica;
	font-size: 16px;
	padding: 20px;
}
